* {
    box-sizing: border-box;
}

:root {
    --bg: #60a0ff;
    --platform: #8b6f4a;
}


body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#a0e0ff, var(--bg));
    font-family: Inter, ui-sans-serif, system-ui, Arial;
}

#viewport {
    position: relative;
    left: 0; top: 0;

    border: 3px solid #222;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .25);
    overflow: hidden;
    transform-origin: center;
    /* transform: scale(var(--scale)); */
}

#hud {
    position: absolute;
    left: 0px; top: 0px;
    width: 60%; height: 2em;
    margin: auto;
    font-size: 10pt;
    border: outset 2px #ccc4;
    background-color: #0004;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5em;
}

.plane {
    position: absolute;
    left: 0px; top: 0px;
    width: 2560px;
    height: 640px;
}

#bg1 {
    z-index: 0;
    background-image: url('assets/bg1.png');
}

#bg2 {
    z-index: 100;
    background-image: url('assets/bg2.png');
}

#fg {
    z-index: 100;
    background-color: #48f8;
}

#world {
    z-index: 200;
    background-color: transparent;
}

  /* alap objektum stílus (sprite-szerű) */
  .entity {
    position: absolute;
    will-change: transform;
    image-rendering: pixelated;
    pointer-events: none;
  }

  /* Player */
  .player {
    width: 48px;
    height: 64px;
    background: linear-gradient(#fff, #ddd);
    border: 3px solid #333;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #333;
    pointer-events: auto;
    transition: box-shadow .08s;
  }

  .player.jump {
    box-shadow: 0 16px 8px rgba(0, 0, 0, .15);
  }

  .player .eye {
    width: 10px;
    height: 10px;
    background: #222;
    border-radius: 2px;
    margin-right: 4px;
  }

  /* Pixel robot */
  .pixel {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: linear-gradient(#2dd, #08a);
    border: 2px solid #026;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .18);
  }

  /* platform */
  .platform {
    width: 160px;
    height: 48px;
    background: linear-gradient(var(--platform), #6f573d);
    /* border-top: 4px solid #a07f59;
    border-radius: 4px; */
    box-sizing: border-box;
  }

  .p1 {
    background-image: url(assets/p1.png);
  }

  .p2 {
    background-image: url(assets/p2.png);
  }

  .pm {
    background-image: url(assets/pm.png);
  }


  /* coin */
  .coin {
    width: 20px;
    height: 20px;
    border-radius: 40%;
    /* background: radial-gradient(circle at 30% 30%, #fff0, #fff0 20%, #fff 35%, #ffd700 60%); */
    background-color: gold;
    border: 2px solid #c88f00;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .15);
  }

    /* life */
  .life {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background: radial-gradient(circle at 30% 30%, #fff0, #fff0 20%, #fff 35%, #ffd700 60%); */
    background-color: #a00000;
    border: 2px solid #802010;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .15);
  }


  @keyframes coinup {
    from {
        /* transform: translateY(0); */
        filter: blur(0px);
      }

      to {
        /* transform: translateY(-20); */
        filter: blur(4px);
      }
  }

  .coin.up {
    transition: all 1s;
    transform: scale(2, 2);
    animation: coinup 1s;
  }

  /* button (nyomó) */
  .button {
    width: 36px;
    height: 12px;
    border-radius: 3px;
    background: #c76b6b;
    border: 2px solid #842e2e;
  }

  .button.down {
    transform: translateY(6px);
  }

  /* gate / kapu */
  .gate {
    background: linear-gradient(#333, #111);
    border: 4px solid #000;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: filter 1.2s;
  }

  .gate.locked {
    filter: grayscale(.5) opacity(.4);
  }

